<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WCF_FMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
        <add key="OverTime_Holiday" value="1" />
        <add key="webpages:Version" value="3.0.0.0" />
        <add key="webpages:Enabled" value="false" />
        <add key="ClientValidationEnabled" value="true" />
        <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    </appSettings>
    <system.web>
        <customErrors mode="On"></customErrors>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime requestValidationMode="2.0" executionTimeout="600" maxRequestLength="2147483647" enableVersionHeader="false" />
        <pages controlRenderingCompatibilityVersion="4.0" />
    </system.web>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" sendTimeout="00:01:00" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <!--<client>
      <endpoint address="http://localhost:18591/BudgetService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBudgetService"
          contract="WCF_FMS.IBudgetService" />
    </client>-->
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
                    <serviceMetadata httpGetEnabled="true" />
                    <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
        <directoryBrowse enabled="true" />
    </system.webServer>
    <!--<connectionStrings>
    <add name="RasaNewFMSConnectionString" connectionString="Data Source=31.7.88.246,13333;Initial Catalog=RasaNewFMSREZVAN;User ID=rasasystem;Password=rasasystem!@#" providerName="System.Data.SqlClient" />
  <add name="RasaFMSCommonDBEntities" connectionString="metadata=res://*/DAL.Model.CommonModel.csdl|res://*/DAL.Model.CommonModel.ssdl|res://*/DAL.Model.CommonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.7.88.246,13333;Initial Catalog=RasaNewFMSREZVAN;user id=rasasystem;password=rasasystem!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RasaFMSPayRollDBEntities" connectionString="metadata=res://*/DAL.Model.PayRollModel.csdl|res://*/DAL.Model.PayRollModel.ssdl|res://*/DAL.Model.PayRollModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.7.88.246,13333;initial catalog=RasaNewFMSREZVAN;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="RasaNewFMSEntities" connectionString="metadata=res://*/DAL.Model.Daramad.csdl|res://*/DAL.Model.Daramad.ssdl|res://*/DAL.Model.Daramad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.7.88.246,13333;Initial Catalog=RasaNewFMSREZVAN;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="AnbarAmvalEntities" connectionString="metadata=res://*/DAL.Model.AnbarAmval.csdl|res://*/DAL.Model.AnbarAmval.ssdl|res://*/DAL.Model.AnbarAmval.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.7.88.246,13333;Initial Catalog=RasaNewFMSREZVAN;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ChekEntities" connectionString="metadata=res://*/DAL.Model.Chek.csdl|res://*/DAL.Model.Chek.ssdl|res://*/DAL.Model.Chek.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.7.88.246,13333;initial Catalog=RasaNewFMSREZVAN;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ArchiveEntities" connectionString="metadata=res://*/DAL.Model.Archive.csdl|res://*/DAL.Model.Archive.ssdl|res://*/DAL.Model.Archive.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.7.88.246,13333;initial Catalog=RasaNewFMSREZVAN;user id=rasasystem;password=rasasystem!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="AutomationEntities" connectionString="metadata=res://*/DAL.Model.Automation.csdl|res://*/DAL.Model.Automation.ssdl|res://*/DAL.Model.Automation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.7.88.246,13333;initial Catalog=RasaNewFMSREZVAN;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="AccountingEntities" connectionString="metadata=res://*/DAL.Model.Accounting.csdl|res://*/DAL.Model.Accounting.ssdl|res://*/DAL.Model.Accounting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.7.88.246,13333;initial Catalog=RasaNewFMSREZVAN;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="BudgetEntities" connectionString="metadata=res://*/DAL.Model.Budget.csdl|res://*/DAL.Model.Budget.ssdl|res://*/DAL.Model.Budget.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=31.7.88.246,13333;initial Catalog=RasaNewFMSREZVAN;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
   <connectionStrings>
        <add name="RasaNewFMSConnectionString" connectionString="Data Source=192.168.1.34;Initial Catalog=RasaNewFMS;User ID=rasasystem;Password=rasasystem!@#" providerName="System.Data.SqlClient" />
     <add name="RasaFMSCommonDBEntities" connectionString="metadata=res://*/DAL.Model.CommonModel.csdl|res://*/DAL.Model.CommonModel.ssdl|res://*/DAL.Model.CommonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.34;Initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="RasaFMSPayRollDBEntities" connectionString="metadata=res://*/DAL.Model.PayRollModel.csdl|res://*/DAL.Model.PayRollModel.ssdl|res://*/DAL.Model.PayRollModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.34;initial catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="RasaNewFMSEntities" connectionString="metadata=res://*/DAL.Model.Daramad.csdl|res://*/DAL.Model.Daramad.ssdl|res://*/DAL.Model.Daramad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.34;Initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="AnbarAmvalEntities" connectionString="metadata=res://*/DAL.Model.AnbarAmval.csdl|res://*/DAL.Model.AnbarAmval.ssdl|res://*/DAL.Model.AnbarAmval.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.34;Initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="ChekEntities" connectionString="metadata=res://*/DAL.Model.Chek.csdl|res://*/DAL.Model.Chek.ssdl|res://*/DAL.Model.Chek.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.34;initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="ArchiveEntities" connectionString="metadata=res://*/DAL.Model.Archive.csdl|res://*/DAL.Model.Archive.ssdl|res://*/DAL.Model.Archive.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.34;initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="AutomationEntities" connectionString="metadata=res://*/DAL.Model.Automation.csdl|res://*/DAL.Model.Automation.ssdl|res://*/DAL.Model.Automation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.34;initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="AccountingEntities" connectionString="metadata=res://*/DAL.Model.Accounting.csdl|res://*/DAL.Model.Accounting.ssdl|res://*/DAL.Model.Accounting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.34;initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="BudgetEntities" connectionString="metadata=res://*/DAL.Model.Budget.csdl|res://*/DAL.Model.Budget.ssdl|res://*/DAL.Model.Budget.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.34;initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="DeceasedEntities" connectionString="metadata=res://*/DAL.Model.DeceasedModel.csdl|res://*/DAL.Model.DeceasedModel.ssdl|res://*/DAL.Model.DeceasedModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.34;initial catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
     <add name="WeighEntities" connectionString="metadata=res://*/DAL.Model.Weigh.csdl|res://*/DAL.Model.Weigh.ssdl|res://*/DAL.Model.Weigh.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.34;initial catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <!--<connectionStrings>
        <add name="RasaNewFMSConnectionString" connectionString="Data Source=172.15.15.44,1433;Initial Catalog=RasaNewFMS;User ID=rasasystem;Password=rasasystem!@#" providerName="System.Data.SqlClient" />
        <add name="RasaFMSCommonDBEntities" connectionString="metadata=res://*/DAL.Model.CommonModel.csdl|res://*/DAL.Model.CommonModel.ssdl|res://*/DAL.Model.CommonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.15.15.44,1433;Initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="RasaFMSPayRollDBEntities" connectionString="metadata=res://*/DAL.Model.PayRollModel.csdl|res://*/DAL.Model.PayRollModel.ssdl|res://*/DAL.Model.PayRollModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.15.15.44,1433;initial catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="RasaNewFMSEntities" connectionString="metadata=res://*/DAL.Model.Daramad.csdl|res://*/DAL.Model.Daramad.ssdl|res://*/DAL.Model.Daramad.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.15.15.44,1433;Initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="AnbarAmvalEntities" connectionString="metadata=res://*/DAL.Model.AnbarAmval.csdl|res://*/DAL.Model.AnbarAmval.ssdl|res://*/DAL.Model.AnbarAmval.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.15.15.44,1433;Initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="ChekEntities" connectionString="metadata=res://*/DAL.Model.Chek.csdl|res://*/DAL.Model.Chek.ssdl|res://*/DAL.Model.Chek.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.15.15.44,1433;initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="ArchiveEntities" connectionString="metadata=res://*/DAL.Model.Archive.csdl|res://*/DAL.Model.Archive.ssdl|res://*/DAL.Model.Archive.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.15.15.44,1433;initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="AutomationEntities" connectionString="metadata=res://*/DAL.Model.Automation.csdl|res://*/DAL.Model.Automation.ssdl|res://*/DAL.Model.Automation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.15.15.44,1433;initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="AccountingEntities" connectionString="metadata=res://*/DAL.Model.Accounting.csdl|res://*/DAL.Model.Accounting.ssdl|res://*/DAL.Model.Accounting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.15.15.44,1433;initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="BudgetEntities" connectionString="metadata=res://*/DAL.Model.Budget.csdl|res://*/DAL.Model.Budget.ssdl|res://*/DAL.Model.Budget.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.15.15.44,1433;initial Catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="DeceasedEntities" connectionString="metadata=res://*/DAL.Model.DeceasedModel.csdl|res://*/DAL.Model.DeceasedModel.ssdl|res://*/DAL.Model.DeceasedModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.15.15.44,1433;initial catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
        <add name="WeighEntities" connectionString="metadata=res://*/DAL.Model.Weigh.csdl|res://*/DAL.Model.Weigh.ssdl|res://*/DAL.Model.Weigh.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.15.15.44,1433;initial catalog=RasaNewFMS;user id=rasasystem;password=rasasystem!@#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>-->
  
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
    <applicationSettings>
        <WCF_FMS.Properties.Settings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </WCF_FMS.Properties.Settings>
    </applicationSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>